[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.auroraos.CheeseCommander
Exec=/usr/bin/ru.auroraos.CheeseCommander
Name=CheeseCommander
Name[ru]=CheeseCommander

[X-Application]
Permissions=
OrganizationName=ru.auroraos
ApplicationName=CheeseCommander
ExecDBus=/usr/bin/ru.auroraos.CheeseCommander
